<style>
    small {
        color: whitesmoke;
        font-family: sans-serif;
        text-align: left;
    }
    
    #user-name {
        transition: 0.3s all ease-in-out;
    }
    
    #user-name:hover {
        color: darkblue;
    }
</style>
<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <p>
                <a href='/' style=" font-size: 1.8rem;">
                    codeial
                </a>
            </p>
        </div>

        <div class="auth-links">
            <ul>
                <% if (locals.user){ %>
                    <li id="user-img-container">
                        <a href="/users/profile/<%= user.id %>">
                            <img style="font-size: small; line-height: 10px;" src="<%=user.avatar%>" alt="Please add an image" width="50px" height="50px">
                        </a>
                    </li>
                    <li>
                        <a id="user-name" href="/users/profile/<%= user.id %>">
                            <%= user.name %> <br>
                                <small>View your profile</small>
                        </a>
                    </li>
                    <li>
                        <!-- link to sign-out page -->
                        <a href="/users/sign-out">Sign Out</a>
                    </li>
                    <% }else{ %>
                        <li>
                            <!-- link to sign-in page -->
                            <a href="/users/sign-in">Sign In</a>
                        </li>
                        <li>
                            <!-- link to sign-up page -->
                            <a href="/users/sign-up">Sign Up</a>
                        </li>

                        <% } %>
            </ul>
        </div>
    </nav>



</header>