<link rel="stylesheet" href="/css/forgot_password.css">


<body>
    <div id="header">
        <span>
                    Forgot your password?
                 </span>
        <div>
            Enter your email address and we'll send you mail with a link to reset your password.
        </div>
    </div>
    <br>
    <br>
    <div id="form-container">
        <h2>Email Address</h2>
        <form action="/users/reset-password/" method="POST" id="reset-password-form">
            <input type="email" name="email" placeholder="Enter your email">
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>