<link rel="stylesheet" href="/css/reset_password.css">

<div id="header">
    <span id="heading">Change Password</span><br>
    <span>Enter your new password for your Codeial Account</span>
</div>

<div id="form-container">
    <form action="/users/change-password" method="POST">
        <input type="password" name="new_password" placeholder="New Password">
        <input type="hidden" name="email" value="<%=email%>"> <br> <br>
        <input type="password" name="confirm_password" placeholder="Confirm New Password">
        <button type="submit">Reset Password</button>
    </form>
</div>