<link rel="stylesheet" href="/css/sign-up.css">
<div id="container">
    <h1>Sign Up</h1>

    <div id="form-container">
        <form action="/users/create" method="POST">
            <input type="text" name="name" placeholder="Your Name" required>
            <br> <input type="email" name="email" placeholder="Your Email" required>
            <br> <input type="password" name="password" placeholder="Password" required>
            <br> <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            <br><input id="btn" type="submit" value="Sign Up">

        </form>
    </div>

    <p>
        <a href="/users/auth/google">Google Sign In/Sign Up</a>
    </p>
</div>