body {
    background-color: #8d93ab;
    #header {
        margin-top: 5%;
        position: relative;
        left: 38%;
        >span {
            display: inline-block;
            font-size: 2rem;
            font-weight: bold;
        }
    }
    #form-container {
        width: 30%;
        position: relative;
        left: 38%;
    }
}