li {
    color: black;
    .toggle-like-button:hover {
        background-color: whitesmoke;
        color: cornflowerblue;
        padding: 2px;
        border-radius: 3px;
    }
    .toggle-like-button {
        position: relative;
        top: -70px;
        left: 90px;
        transition: 0.2s ease-in-out all;
        color: whitesmoke;
        font-size: medium;
        text-decoration: none;
        font-weight: 600;
    }
    .toggle-like-button-offline {
        position: relative;
        top: -90px;
        left: 90px;
        color: whitesmoke;
        font-size: medium;
        text-decoration: none;
        font-weight: 600;
    }
    .toggle-comment-like-button-offline {
        position: relative;
        top: -25px;
        left: 5px;
        color: cornflowerblue;
        font-size: medium;
        text-decoration: none;
        font-weight: 600;
    }
    #post {
        overflow: hidden;
        padding: 1%;
        padding-left: -5%;
        width: 95%;
        height: auto;
        border-bottom: 1px solid whitesmoke;
        margin-bottom: 1%;
    }
    #name {
        color: whitesmoke;
        font-weight: bolder;
        font-size: large;
        position: relative;
        left: 90px;
        top: 10px;
    }
    .post-comments-list {
        >ul {
            width: 70%;
            >li {
                border-radius: 5px;
                height: 10%;
                margin-bottom: 1%;
                border: 1px solid whitesmoke;
                padding-bottom: 1%;
                background-color: #d6e0f0;
            }
        }
    }
    #comment-name1 {
        color: cornflowerblue;
        font-weight: bolder;
        font-size: large;
        position: relative;
        left: 8%;
        top: -50px;
    }
    #comment-content1 {
        overflow-y: scroll;
        word-break: break-all;
        display: inline-block;
        width: 85%;
        height: 18%;
        padding: 1%;
        border-radius: 5px;
        background-color: gray;
        margin-left: 18%;
        border: 1px solid whitesmoke;
        color: whitesmoke;
        font-weight: bolder;
        font-size: medium;
        position: relative;
        left: -85px;
        top: 30px;
    }
    .post-comments {
        width: 97.6%;
        padding: 1%;
        box-shadow: 0px 0px 7px 2px #d6e0f0;
        >h4 {
            font-size: 1.78rem;
            font-weight: 900;
            color: #393b44;
        }
    }
    #comment-name2 {
        color: cornflowerblue;
        font-weight: bolder;
        font-size: large;
        position: relative;
        left: 8%;
        top: -45px;
    }
    #comment-content2 {
        overflow-y: scroll;
        word-break: break-all;
        display: inline-block;
        width: 85%;
        height: 18%;
        padding: 1%;
        border-radius: 5px;
        background-color: gray;
        margin-left: 18%;
        border: 1px solid whitesmoke;
        color: whitesmoke;
        font-weight: bolder;
        font-size: medium;
        position: relative;
        left: -85px;
        top: 30px;
    }
    #content {
        overflow-y: scroll;
        word-break: break-all;
        display: inline-block;
        width: 60%;
        height: 5%;
        padding-left: 1%;
        padding-right: 1%;
        border-radius: 5px;
        background-color: #d6e0f0;
        border: 1px solid whitesmoke;
        color: cornflowerblue;
        font-weight: bolder;
        font-size: large;
        position: relative;
        left: -10px;
        top: 130px;
    }
    .delete-post-button:hover {
        border-radius: 5px;
        padding: 3px;
        background-color: whitesmoke;
        color: cornflowerblue;
    }
    .delete-post-button {
        font-size: large;
        transition: 0.3s all ease-in-out;
        color: whitesmoke;
        text-decoration: none;
    }
    .delete-comment-button:hover {
        border-radius: 5px;
        padding: 3px;
        background-color: grey;
        color: whitesmoke;
    }
    .delete-comment-button {
        font-size: large;
        transition: 0.3s all ease-in-out;
        color: cornflowerblue;
        text-decoration: none;
    }
    #comment-delete {
        position: relative;
        left: 30%;
        top: 8px;
    }
    #delete {
        position: relative;
        left: 25%;
        top: 32px;
    }
    #comment-user-img-container1 {
        position: relative;
        top: -85px;
        left: 5px;
        height: 8%;
        width: 6%;
        >img {
            border: 1px solid grey;
        }
    }
    #comment-user-img-container2 {
        position: relative;
        top: -80px;
        left: 5px;
        height: 8%;
        width: 6%;
        >img {
            border: 1px solid grey;
        }
    }
    #post-user-img-container {
        position: relative;
        top: -30px;
        height: 8%;
        width: 6%;
        img {
            border: 1px solid whitesmoke;
            border-radius: 50%;
        }
    }
}