body {
  background-color: #f1f3f8;
  font-family: sans-serif; }
  body #remove-btn a {
    text-decoration: none;
    position: relative;
    top: -150px;
    left: 90%;
    font-size: 1rem;
    padding: 0.75%;
    cursor: pointer;
    color: whitesmoke;
    background-color: #393b44;
    border: none; }
  body img:hover {
    box-shadow: 0px 0px 5px 5px #f1f3f8; }
  body img {
    position: relative;
    top: -3%;
    transition: 0.2s all ease-in-out;
    border: 3px solid whitesmoke; }
  body #update-form {
    color: whitesmoke;
    background-color: #393b44;
    width: 60%;
    padding: 2%;
    margin-top: 3%;
    border: 1px solid black;
    display: none; }
  body #update-box {
    position: relative;
    top: 5%;
    left: 5%; }
  body input:focus {
    background-color: lightblue; }
  body #updateBtn {
    background-color: whitesmoke;
    float: right;
    border: none;
    color: #393b44;
    padding: 9px 18px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer; }
  body input[type=text] {
    font-family: sans-serif;
    font-size: 1.2rem;
    width: 100%;
    padding: 4px 4px;
    margin: 8px 0;
    box-sizing: border-box; }
  body input[type=email] {
    font-family: sans-serif;
    font-size: 1.2rem;
    width: 100%;
    padding: 4px 4px;
    margin: 8px 0;
    box-sizing: border-box; }
  body #editBtn {
    font-size: 1.25rem;
    padding: 1%;
    cursor: pointer;
    color: whitesmoke;
    background-color: #393b44;
    border: none; }
  body #details {
    width: 60%;
    position: relative;
    top: 15%;
    left: 5%; }
  body #details > p {
    font-family: sans-serif;
    color: #776d8a;
    font-size: 2rem;
    font-weight: bold; }
  body aside {
    display: inline-block;
    height: 100%;
    width: 45%;
    vertical-align: top; }
  body #profile-img-container {
    padding: 3%;
    display: inline-block;
    background-color: #393b44;
    max-width: 50%;
    height: 75%; }
  body #update-container {
    padding: 10px; }
  body #user-detail {
    padding: 10px;
    font-weight: 500;
    font-size: x-large; }
